<form>
  <div class="form-group">
    <input type="form" class="form-control w-100 mh-50" style="height:30px;" id="titleForm" placeholder="{{post.title}}"><br>
    <input type="form" class="form-control w-100 mh-100" style="height:100px;" id="postForm" placeholder="{{post.body}}"><br>
      <button type="submit" postId="{{post.id}}" userId="{{userId}}" class="btn btn-primary" id="postbutton">Submit</button>
  </div>
</form>



{{!-- itll be a get route and the words will appear in the place holder then the submit will eb the update fetch api thing and update it then itll go to a different page. --}}