
<form>
  <div class="form-group">
    <input type="form" class="form-control w-100 mh-50" style="height:30px;" id="titleForm" placeholder="Add a title"><br>
    <input type="form" class="form-control w-100 mh-100" style="height:100px;" id="postForm" placeholder="Add a post"><br>
      <button type="submit" postId="{{post.id}}" userId="{{userId}}" class="btn btn-primary" id="postbutton">Submit</button>
  </div>
</form>